{% extends "bootstrap_layout.html" %}
{% set active_page = "references" %}

{% block content %}

<br>
<br>

    <h1>Strain Recommender</h1>

    <p>{{ message }}</p>
    
    <br>
 
    <h4>Project structure</h4>

    <p>All data sets will live <a href="https://github.com/BuildWeek-Med-Cabinet-4/DS/tree/master/data" style="color:#008000" >here</a><br>
    All pickled models will live <a href="https://github.com/BuildWeek-Med-Cabinet-4/DS/tree/master/models"  style="color:#008000">here</a><br>
    All notebooks will live <a href="https://github.com/BuildWeek-Med-Cabinet-4/DS/tree/master/notebooks"  style="color:#008000" >here</a><br>
    API lives <a href="https://github.com/BuildWeek-Med-Cabinet-4/DS/tree/master/web_app" style="color:#008000">here</a></p>

    <br>

    <h4>References</h4>

    <p>
        <a href="https://www.kaggle.com/kingburrito666/cannabis-strains style=" rel="nofollow" style="color:#008000">Main Dataset</a><br>
        <a href="https://trello.com/b/6fHmnowA/med-cabinet-4 style=" rel="nofollow" style="color:#008000">Team Trello</a><br>
        <a href="https://www.notion.so/Git-Workflow-34f9b468dcf74a669aff0d3797870d37 style="rel="nofollow" style="color:#008000">Git Workflow</a>
    </p>

    <br>
        
    <h4>Curl commands for testing api</h4>

    <div class="highlight highlight-source-shell"><pre>curl --location --request POST <span class="pl-s"><span class="pl-pds">'</span>https://medicabi.herokuapp.com/send<span class="pl-pds">'</span></span> \
        --header <span class="pl-s"><span class="pl-pds">'</span>Content-Type: application/json<span class="pl-pds">'</span></span> \
        --data-raw <span class="pl-s"><span class="pl-pds">'</span>{"UserID": "dbkeyuser123", </span>
        <span class="pl-s">"Strain": "User_Strain", </span>
        <span class="pl-s">"Type": "Sativa",</span>
        <span class="pl-s">"Rating": 0, </span>
        <span class="pl-s">"Effects": "Happy, energetic, and creative", </span>
        <span class="pl-s">"Flavor": "Sour, fruity, pineapple, citrus", </span>
        <span class="pl-s">"Description": "I'\''m bummed most the time.  I'\''m just looking to feel good, and keep my creative juices flowing. I'\''m an artist and I find some herb helps my art."}<span class="pl-pds">'</span></span></pre></div>


{% endblock %}